@import url('https://fonts.googleapis.com/css2?family=Platypi:wght@450');

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    overflow: visible;
    /*outline: 2px solid red;*/
    font-family: 'Platypi', sans-serif;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #003135;
    color: #afdde5;
}
.title {
    font-size: 48px;
    text-transform: uppercase;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    gap: 2rem;
}

.etch {
    display: flex;
    flex-grow: 1;
    
    justify-content: center;
    align-items: center;
    background-color: white;
}

.grid {
    display: flex;
    flex-direction: column;
    width: min-content;
    height: min-content;
    border: 6px solid #0fa4af;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
}

.row {
    display: flex;
    flex-grow: 1;
    /*outline: 1px solid red;*/
}

.square {
    /*flex-grow: 1;*/
    width: 10px;
    height: 10px;
    /*outline: 1px solid red;*/
}

.color-selection {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    height: auto;
    gap: 2rem;
}

.color-selection-header {
    color: #964734;

}

.selections {
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
}

.color-btn, .reset-btn, .size-btn {
    padding: 6px;
    min-width: 50px;
    border: 1px solid #000;
    border-radius: 4px;
}

.btn-clicked {
    background-color: #000;
    color: #fff;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #003135;
    color: #afdde5;
}

.footer-text {
    font-size: 12px;
    text-transform: uppercase;
}